    {% extends "navigation.html" %}
    {% block content %}
    {% load static %}


    <style>
        .journey-list-element:hover{
            background-color: grey;
            color: white;
        }
    </style>

    <div class="container">

        <h1 style="margin-top: 15px;">Jornadas</h1>

        <div style="margin-top: 15px;" class="classification">
            <ul class="list-group">
                {% for instance in journeyqueryset %}
                <a style="color: black; text-decoration: none; margin-top: 10px;" href="/journey/{{nickname}}/{{instance.id}}">
                    <li class="list-group-item journey-list-element" style="border-radius:11px;">
                        <div class="row">
                            <div class="col">
                                Jornada {{ instance.id }}
                            </div>
                            <div class="col" style="
                            text-align: right;
                            font-weight: lighter;">
                                    {{instance.date}}
                            </div>
                        </div>
                    </li>
                </a>
                {% endfor %}
            </ul>

        </div>

        {% if nickname == 'Eirron' %}
        <!-- Button trigger modal -->
        <div style="margin-top: 15px;">
            <button type="button" style="width: 100%;" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">
                Crear Jornada
            </button>
        </div>
        {% endif %}
  
        <!-- Modal -->
        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">¡Atenci&oacute;n!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Est&aacute; a punto de crear una nueva Jornada. ¿Seguro que desea continuar?
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" aria-label="Close">Cancelar</button>
                    <a href="/createJourney/{{nickname}}">
                        <button type="button" class="btn btn-primary">Crear Jornada</button>
                    </a>
                </div>
            </div>
            </div>
        </div>

    </div>


    {% endblock content %}